*{
    margin: 0;
    box-sizing: border-box;
    font-family: monospace, sans-serif;
}

/* STYLE WELCOME */
/*Estilos para que la imagen no se repita y se adapte a cualquier pantalla*/
body {
    background: url(../img/fondo.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 100px 20px 0;
}
/* end */

.section-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-home{
    background: #5C91CC;
    color: white;
    border: none;
    border-radius: 19px;
    width: 319px;
    height: 86px;
    left: 57px;
    top: 307px;
    margin-top: 500px;
    font-size: 45px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}
/* end STYLE WELCOME */

/* STYLE HOME */
/* Style Header */
header{
    background: #5C91CC;
    height: 90px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
}

.nav-home, .section-selects{
    display: flex;
    flex-wrap: wrap;
}

.section-logo, .section-search, .section-selects{
    flex-basis: auto;
}

.logo{
    width: 100%;
    margin-top: 10px;
    margin-left: 15px;
}

.input-search{
    color: white;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 25px;
    border-radius: 19px;
    background: rgba(196, 196, 196, 0.5);
    border: none;
    width: 100%;
    height: 50%;
}

.select-order, .select-filter{
    color: #7B7D7D;
    font-size: 25px;
    background: #F0F3F4;
    border-style: none;
    border-radius: 19px;
    width: 100%;
}

.select-order{
    margin-top: 25px;
    margin-left: 35px;
}

.select-filter{
    margin-top: 25px;
    margin-left: 45px;
}

option{
    font-size: 20px;
}

.section-back{
    display: flex;
    align-items: center;
    margin-left: 900px;
}

.button-back{
    background: none;
    border-style: none;
    font-size: 35px;
    border: none;
    cursor: pointer;
    margin-left: auto;
}
/* end header*/


/* Style Footer */
footer{
    background: #5C91CC;
    height: 30px;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}

p{
    margin: 5px 3px;
    color: white;
}
/* end footer*/

/* Gallery Home */

.button-top {
    background: #5C91CC;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px 10px;
    font-size: 25px;
    cursor: pointer;
    margin-left: auto;
}

.fila::after {
    content: "";
    clear: both;
    display: table;
}

.section-gallery, .show-info-people{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.figure-poster{
    margin: 13px 20px;
    cursor: pointer;
}

figcaption{
    text-align: center;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 13px;
}

.img-poster{
    width: auto;
    height: auto;
    border-radius: 10px;
}

/* Style Search (add/remove) */
.search{
    visibility: hidden;
    opacity: 0;
    order: 1;
    transition: 0.2s;
}
/* end style search*/
/* end gallery home */

/* Style Info Films */
.show-info{
    display: flex;
    margin: 25px 25px;
}

.show-info-poster{
    width: auto;
    height: auto;
    margin-right: 25px;
}

.img-film{
    width: 200px;
    height: 350px;
}

.show-info-description{
    background: #F4F6F7;
    color: #4D5656;
    width: auto;
    height: auto;
    padding: 2px 20px;
}

.h1-title{
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
}

.h3-release-date{
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    margin-top: 3px;
}

.h2-description{
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    text-align: justify;
    margin-top: 10px;
}

.h3-director{
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    margin-top: 15px;
}

.h3-producer{
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
}

.show-characters{
    display: flex;
    flex-direction: column;
    background: #F0F3F4;
    width: auto;
    height: auto;
    margin: 0 25px;
}

.select-people{
    color: #4D5656;
    font-weight: bold;
    font-size: 30px;
    margin: 23px 30px;
    background: #F0F3F4;
    border-style: solid;
    border-radius: 10px;
    width: 250px;
}

.show-info-people{
    margin-bottom: 50px;
}

.img-character{
    width: auto;
    height: auto;
    border-radius: 10px;
}
/* end style info films */

/* Style Modal Info Characters */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-dialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 100ms ease-in;
    -moz-transition: opacity 100ms ease-in;
    transition: opacity 100ms ease-in;
    pointer-events: none;
}

.modal-dialog:target {
    opacity:1;
    pointer-events: auto;
}

.modal-dialog > section {
    max-width: 800px;
    width: 50%;
    position: relative;
    margin: 20% auto;
    padding: 20px;
    border-radius: 3px;
    background: #fff;
    color: #4D5656;
}

.close {
    background: #0252ad;
    color: #fff;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 34px;
    height: 34px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
    padding-top: 5px;
}

.close:hover {
    background: #5C91CC;
}

.name{
    text-align: center;
    margin-bottom: 10px;
    font-size: 35px;
    /* color: #4D5656; */
}

.description{
    margin-bottom: 10px;
}
/* end modal */

/* Para pantallas */
@media screen and  (max-width: 1080px){
    header{
        height: 18%;
    }

    .nav-home{
        flex-basis: auto;
        width: 100%;
    }

    .input-search{
        margin-top: 20px;
    }

    .select-order, .select-filter{
        margin-top: 0;
    }

    .button-top{
        margin-top: 5%;
        font-size: 20px;
    }

    .button-back{
        margin-top: 20%;
    }
}

@media screen and  (max-width: 650px){
    header{
        height: 25%;
    }

    .nav-home{
        flex-basis: auto;
        width: 100%;
    }

    .input-search{
        margin-top: 5px;
    }

    .select-order, .select-filter{
        margin-top: 0;
        margin-left: 5px;
    }

    .button-top {
        margin-top: 13%;
    }

    .button-back{
        margin-top: 30%;
    }
}

@media screen and  (max-width: 535px){
    header{
        height: 30%;
    }

    .nav-home{
        flex-basis: auto;
        width: 100%;
    }

    .input-search{
        margin-top: 5px;
        margin-left: 5px;
    }

    .select-order, .select-filter{
        margin-top: 0;
        margin-left: 5px;
    }

    .button-top {
        margin-top: 25%;
    }

    .button-back{
        margin-top: 35%;
    }
}

/* Para pantallas de menos de 830px  */
@media (max-width: 830px) {
    body {
        background-size: 906px 625px;
    }

    .show-info{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* Para pantallas de menos de 576px  */
@media (max-width: 560px) {
    body{
        background-size: 764px 510px;
    }
}

/* Para pantallas de menos de 460px  */
@media (max-width: 460px) {
    body {
        background-size: 590px 411px;
    }

    .button-top {
        margin-top:30%;
    }

    .button-back {
        margin-top:50%;
    }
}

/* Para pantallas de menos de 320px  */
@media (max-width: 320px) {
    body{
        background-size: 310px 226px;
    }

    .button-top{
        margin-top: 40%;
    }

    .button-back{
        margin-top: 40%;
    }
}
