*{
    margin: 0;
    box-sizing: border-box;
    font-family: monospace, sans-serif;
}

/* STYLE WELCOME */
/*Estilos para que la imagen no se repita y se adapte a cualquier pantalla*/
body {
    background: url(../img/fondo.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 100px 20px 0;
}
/* end */

.section-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-home{
    background: #5C91CC;
    color: white;
    border: none;
    border-radius: 19px;
    width: 319px;
    height: 86px;
    left: 57px;
    top: 307px;
    margin-top: 500px;
    font-size: 45px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}
/* end STYLE WELCOME */

/* STYLE HOME */
/* Style Header */
header{
    background: #5C91CC;
    height: 90px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.nav-home{
    display: flex;
    justify-content: space-around;
}

.section-logo{
    width: 50%;
    height: auto;
}

.logo{
    padding: 0 20px;
    margin-top: 10px;
}

.section-search, .section-selects, .show-info-poster{
    box-sizing: content-box;
}

.input-search{
    color: white;
    font-size: 30px;
    margin: 20px 30px;
    width: auto;
    border-radius: 19px;
    background: rgba(196, 196, 196, 0.5);
    border: none;
}

.section-selects{
    display: flex;
    flex-direction: row;
}

.selects{
    color: #7B7D7D;
    font-size: 25px;
    margin: 23px 30px;
    background: #F0F3F4;
    border-style: none;
    border-radius: 19px;
    width: auto;
}

option{
    font-size: 20px;
}

.section-back{
    display: flex;
    align-items: center;
    background: #5C91CC;
    margin-left: 900px;
}

.button-back{
    background: #5C91CC;
    border-style: none;
    font-size: 35px;
    cursor: pointer;
}


/* end header*/


/* Style Footer */
footer{
    background: #5C91CC;
    height: 30px;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}

p{
    margin: 5px 3px;
    color: white;
}
/* end footer*/

/* Gallery Home */
.fila::after {
    content: "";
    clear: both;
    display: table;
}

.section-gallery, .section-filter-gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.figure-poster{
    margin: 13px 20px;
    cursor: pointer;
}

figcaption{
    text-align: center;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 13px;
}

.img-poster{
    width: auto;
    height: auto;
    border-radius: 10px;
}

/* Style Search (add/remove) */
.search{
    visibility: hidden;
    opacity: 0;
    order: 1;
    transition: 0.2s;
}
/* end style search*/
/* end gallery home */

/* Style Info Films */
.show-info{
    display: flex;
    margin: 25px 25px;
}

.show-info-poster{
    width: auto;
    height: auto;
    margin-right: 25px;
}

.img-film{
    width: 200px;
    height: 350px;
}

.show-info-description{
    background: #F4F6F7;
    color: #4D5656;
    width: auto;
    height: auto;
    padding: 2px 20px;
}

.h1-title{
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
}

.h3-release-date{
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    margin-top: 3px;
}

.h2-description{
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    text-align: justify;
    margin-top: 10px;
}

.h3-director{
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    margin-top: 15px;
}

.h3-producer{
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
}

.show-characters{
    display: flex;
    flex-direction: column;
    background: #F0F3F4;
    width: auto;
    height: auto;
    margin: 0 25px;
}

.select-people{
    color: #4D5656;
    font-weight: bold;
    font-size: 30px;
    margin: 23px 30px;
    background: #F0F3F4;
    border-style: solid;
    border-radius: 10px;
    width: 250px;
}
/* end style info films */

/* Para pantallas menos de 768px */
@media (min-width: 600px) and (max-width: 768px) {
    body {
        background-size: 659px 440px;
    }

    .button-home{
        margin-top: 400px;
    }

    header {
        height: 180px;
    }

    .nav-home{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .section-logo, .section-search, .section-selects{
        width: 100%;
        height: 100%;
    }

    .logo{
        width: auto;
        margin: 10px 50%;
    }

    .input-search{
        margin: 5px 30%;
        width: 100%;
        font-size: 25px;
    }

    .selects{
        margin: 5px 50%;
        width: auto;
        font-size: 25px;
    }

    .show-info{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* Para pantallas de menos de 576px  */
@media (max-width: 599px) {
    body {
        background-size: 559px 340px;
    }

    .button-home{
        margin-top: 300px;
    }

    header {
        height: 160px;
    }

    .nav-home{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .section-logo, .section-search, .section-selects{
        width: 100%;
        height: 100%;
    }

    .logo{
        width: auto;
        margin: 10px 25px;
    }

    .input-search{
        width: auto;
        margin: 3px 50px;
        font-size: 23px;
    }

    .selects{
        margin: 5px 0;
        width: auto;
        font-size: 20px;
    }

    .show-info{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}